MYSQL_HOST=wallet-db
MYSQL_PORT=3306
MYSQL_DATABASE=wallet_db
MYSQL_USER=wallet_user
MYSQL_PASSWORD=wallet_pass

DATABASE_URL=mysql+pymysql://wallet_user:wallet_pass@wallet-db:3306/wallet_db

INITIAL_CREDITS=1000
REST_PORT=5000
GRPC_PORT=50051